*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    min-height: 100%;
}

body{
    background-color: #020202;
    color: #ddd;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

main{
    flex: 1 0 auto;
    text-align: center;
}

.resultado{
    display: flex;
    flex-direction: column;
    background-color: #111;
    margin: 10px;
    margin-bottom: 0;
    height: 80px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.resultado span{
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 2em;
    padding-left: 5px;
}

.calculadora{
    display: inline-flex;
    flex-direction: column;
    background-color: #222;
    min-width: 0px;
    margin: 10em;
    border-radius: 10px;
}

.calculadora table{
    display: block;
}

.botao{
    width: 50px;
    height: 50px;
    font-weight: bold;
    background-color: #222;
    color: #ddd;
    border: none;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.calculadora-body{
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

footer{
    font-size: .9em;
    padding: 5px;
    flex-shrink: 0;
    text-align: center;
}

footer a{
    color: #ddd;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}